$dark-color: #2c3e50;
$light-dark: #34495e;
$bright-color: #ecf0f1;
$hover-color:rgb(66, 90, 115);
$sky-blue: rgb(52, 152, 219);

*{
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: $bright-color;
}
button{
  all: unset;
}
body{
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bright-color;
  height: 100%;
  font-size: 12px;
}
.hidden{
  display: none;
}
.hidden-left{
  margin-left: -250px;
}
.blue-button{
  cursor: pointer;
  background-color: $sky-blue;
  color: $bright-color;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  transition: all 0.3s ease;
  &:hover{
    background-color: rgb(6, 94, 152);
  }
}
th{
  transition: all 0.3s ease;
  &:hover{
    background-color: $hover-color;
  }
}
.th-container{
  display: flex;
  gap: 10px;
}
.th-buttons{
  color: rgb(142, 164, 189);
  transition: all 0.3s ease;
  &:hover{
    color: $bright-color;
  }
}
.td-buttons{
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  align-items: center;
}
.purple-button{
  cursor: pointer;
  background-color: rgba(133, 0, 133, 0.567);
  color: $bright-color;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  transition: all 0.3s ease;
  &:hover{
    background-color: rgba(104, 19, 104, 0.873);
  }
}
.red-button{
  cursor: pointer;
  background-color: rgba(235, 71, 46, 0.818);
  color: $bright-color;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  transition: all 0.3s ease;
  &:hover{
    background-color: rgb(188, 46, 30);
  }
}
main{
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-grow: 1;
  .collapsible-sidebar{
    position: relative;
    width: 250px;
    background-color: $dark-color;
    color: $bright-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 0.5s ease;
    #burger{
      cursor: pointer;
      background-color: $light-dark;
      color: $bright-color;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      margin: 0;
      text-align: center;
      font-size: 1em;
      border: 0;
      transition: background-color 0.3s ease;
      &:hover{
        background-color: $hover-color;
      }
    }
    .selector{
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      border-bottom: 1px solid $light-dark;
      h3{
        margin-bottom: 15px;
        text-align: center;
      }
      #month-select,
      #year-select{
        background-color: $light-dark;
        color: $bright-color;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        border: 0;
        font-size: 16px;
        transition: background-color 0.3s ease;
        &:hover{
          background-color: $hover-color;
        }
      }
    }
    .nav{
      display: flex;
      flex-direction: column;
      *{
        padding: 15px 20px;
        text-align: left;
        transition: background-color 0.3s ease;
        &:hover{
          background-color: $light-dark;
        }
      }
      .nav-selected{
          background-color: $light-dark;
          border-left: 2px solid $sky-blue;
        }
    }
  }
  .burger-back{
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 30px;
    width: 50px;
    background-color: $sky-blue;
    border-radius: 5px;
    color: $bright-color;
    font-size: 20px;
    text-align: center;
  }
  .main-content{
    flex-grow: 1;
    width: 100%;
    padding: 40px;
    overflow-y: auto;
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .buttons{
        display: flex;
        gap: 10px;
        .green-button{
          cursor: pointer;
          padding: 8px 15px 12px 15px;
          background-color: rgb(40, 167, 69);
          color: $bright-color;
          border-radius: 5px;
          transition: all 0.3s ease;
          &:hover{
            background-color: rgb(23, 98, 41);
          }
        }
        .hidden{
          display: none;
        }
      }
    }
    #table{
      border-collapse: collapse;
      box-shadow: 0px 5px 10px rgb(44, 62, 80, 0.3);
      margin-bottom: 30px;
      width: 100%;
      thead{
        background-color: $dark-color;
        padding: 0;
        color: $bright-color;

        tr{
          th{
            padding: 15px;
            box-sizing: border-box;
            text-align: left;
          }
        }
      }
      thead, tbody{
        tr{
          display: table-row;
          td{
            padding: 15px;
          }
        }
      }
      tbody{
        tr{
          border: 0.1px solid rgb(44, 62, 80, 0.1);
        }
        tr:nth-child(odd){
          background-color: #e4eef0;
        }
      }
    }
  }
}
